<nav>
	<ul class="nav nav-tabs">
		<li><%= link_to "Home", courses_path %></li>
		<li><%= link_to "Add course", new_course_path %></li>
		<li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
	</ul>
</nav>
<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<h1><strong>Your Courses</strong></h1>
		</tr>
	</thead>
	<tbody>
	<div id= "content">
		<% @courses.each do |course| %>
			<tr>
				<td><%= course.title %></td> 
				<td>
					<div id="button">
						<%= link_to "Add Notes", new_course_topic_path(course) %>
					</div>
				</td>
				<td>
					<div id="button">
						<%= link_to "View Notes", course_topics_path(course) %>
					</div>
				</td>
				<td>
					<div id="button">
						<%= link_to "Remove", course_path(course.id), method: :delete, data:{confirm: "Are you sure?"}%>
					</div>
				</td>
			</tr>
			<% end %>
	</div>
	</tbody>
</table>
