<!DOCTYPE html>
<html>
<head>
  <title>Ebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<%= yield %>
	<div id="log_out">
		<% if user_signed_in? %>
			
		<% else %>
			<% link_to "Log In", new_user_session_path %>
		<% end %>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
</body>
</html>
